{% extends 'blog/base.html' %}
{% block title %}Политика обработки персональных данных{% endblock %}

{% block content %}

<div class="about_us container about_us_page" id="about_us" style="top: 130px; width: 80%;">
    <div class="service_category_detail_header" style="top: 0px; width: 100%; margin: 0 0 30px;">
        <div class="service_category_detail_line"></div>
        <div class="service_category_detail_title">ПОЛИТИКА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</div>
        <div class="service_category_detail_line"></div>
    </div>


<p>ПОЛИТИКА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>

<p>1. Общие положения</p>

<p>1.1. Настоящая Политика Индивидуального предпринимателя Курилко елены Викторовны ОГРНИП 321774600419190 ИНН 490908048703 в отношении обработки персональных данных (далее - Политика) разработана во исполнение требований п. 2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных" (далее - Закон о персональных данных) в целях обеспечения защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>

<p>1.2. Политика действует в отношении персональных данных, которые обрабатывает ИП Курилко Е.В. (далее - Оператор).</p>

<p>1.3. Целью разработки настоящей Политики является определение порядка сбора, записи, систематизации, накопления, хранения, уточнения (обновления, изменения), извлечения, использования, передачи (распространения, предоставления, доступа), обезличивания, блокирования, удаления, уничтожения персональных данных, обрабатываемых Оператором.</p>

<p>1.4. Политика распространяется на отношения в области обработки персональных данных, возникшие у Оператора как до, так и после утверждения настоящей Политики.</p>

<p>1.5. Во исполнение требований ч. 2 ст. 18.1 Закона о персональных данных настоящая Политика публикуется в свободном доступе в информационно-телекоммуникационной сети Интернет на сайте Оператора https://ver-g.ru/ (далее - Сайт). Настоящая Политика применяется к Сайту, включая все его поддомены, содержащим ссылки на данную Политику, независимо от способа их использования или доступа, включая доступ с мобильных устройств. </p>

<p>1.6. Использование Пользователем Сайта означает согласие с настоящей Политикой и условиями обработки персональных данных Пользователя.</p>

<p>В случае несогласия субъекта персональных данных полностью либо в части с условиями настоящей Политики использование Сайта и его сервисов должно быть немедленно прекращено.</p>

<p>1.7. Основные понятия, используемые в Политике:</p>

<p>персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);</p>

<p>оператор персональных данных (оператор) - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</p>

<p>обработка персональных данных - любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования. Обработка персональных данных включает в себя в том числе:</p>

<p>· сбор;</p>

<p>· запись;</p>

<p>· систематизацию;</p>

<p>· накопление;</p>

<p>· хранение;</p>

<p>· уточнение (обновление, изменение);</p>

<p>· извлечение;</p>

<p>· использование;</p>

<p>· передачу (распространение, предоставление, доступ);</p>

<p>· обезличивание;</p>

<p>· блокирование;</p>

<p>· удаление;</p>

<p>· уничтожение;</p>

<p>автоматизированная обработка персональных данных - обработка персональных данных с помощью средств вычислительной техники;</p>

<p>распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному кругу лиц;</p>

<p>предоставление персональных данных - действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;</p>

<p>блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</p>

<p>уничтожение персональных данных - действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных;</p>

<p>обезличивание персональных данных - действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных;</p>

<p>информационная система персональных данных - совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств;</p>

<p>трансграничная передача персональных данных - передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу.</p>

<p>файлы cookie (куки) - данные, которые автоматически передаются Оператором в процессе использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, географическое местоположение, информация о браузере и виде операционной системы устройства Пользователя, технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сайту.</p>

<p>1.8. Контроль за исполнением требований настоящей Политики осуществляется уполномоченным лицом, ответственным за организацию обработки персональных данных у Оператора.</p>

<p>1.9. Ответственность за нарушение требований законодательства Российской Федерации и нормативных актов Оператора в сфере обработки и защиты персональных данных определяется в соответствии с законодательством Российской Федерации.</p>

<p>2. Цели сбора персональных данных и правовые основания обработки персональных данных</p>

<p>2.1. Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.</p>

<p>2.2. Обработке подлежат только персональные данные, которые отвечают целям их обработки.</p>

<p>2.3. Обработка Оператором персональных данных осуществляется в следующих целях:</p>

<p>обеспечение соблюдения Конституции Российской Федерации, федеральных законов и иных нормативных правовых актов Российской Федерации;</p>

<p>осуществление ИП Курилко Е.В. своей деятельности;</p>

<p>информационная рассылка о проводимых мероприятиях;</p>

<p>связь с пользователями, оставившими заявки в формах обратной связи на сайте Оператора;</p>

<p>осуществление гражданско-правовых отношений, заключение гражданско-правовых договоров с пользователями, оказание услуг, осуществление взаиморасчетов;</p>

<p>оказание консультационной и технической поддержки субъекту персональных данных;</p>

<p>ведение бухгалтерского учета;</p>

<p>идентификация субъекта персональных данных;</p>

<p>совершенствование и персонализация услуг, сбора статистики, проведения исследований.</p>

<p>2.4. Обработка персональных данных может осуществляться исключительно в целях обеспечения соблюдения законов и иных нормативных правовых актов.</p>

<p>2.5. Правовым основанием обработки персональных данных является совокупность нормативных правовых актов, во исполнение которых и в соответствии с которыми Оператор осуществляет обработку персональных данных, в том числе:</p>

<p>Конституция Российской Федерации;</p>

<p>Гражданский кодекс Российской Федерации;</p>

<p>Федеральный закон от 06.12.2011 N 402-ФЗ «О бухгалтерском учете»;</p>

<p>Федеральный закон «Об обработке персональных данных»;</p>

<p>иные нормативные правовые акты, регулирующие отношения, связанные с деятельностью Оператора.</p>

<p>2.6. Правовым основанием обработки персональных данных также являются:</p>

<p>договоры, заключаемые между Оператором и субъектами персональных данных;</p>

<p>согласие субъектов персональных данных на обработку их персональных данных.</p>

<p>3. Права и обязанности субъекта персональных данных и Оператора</p>

<p>3.1. Субъект персональных данных имеет право:</p>

<p>на получение персональных данных, относящихся к данному субъекту, и информации, касающейся их обработки;</p>

<p>на уточнение, блокирование или уничтожение его персональных данных в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;</p>

<p>на отзыв данного им согласия на обработку персональных данных;</p>

<p>на защиту своих прав и законных интересов, в том числе на возмещение убытков и компенсацию морального вреда в судебном порядке;</p>

<p>на обжалование действий или бездействия Оператора в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке;</p>

<p>на осуществление иных прав, предусмотренных законодательством РФ.</p>

<p>3.1.2. Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору либо направить запрос лично или с помощью представителя. Запрос должен содержать сведения, указанные в ч. 3 ст. 14 ФЗ «О персональных данных».</p>

<p>3.2. Субъект персональных данных обязан:</p>

<p>предоставлять Оператору достоверные данные о себе;</p>

<p>сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.</p>

<p>3.2.1. Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.</p>

<p>3.3. Оператор имеет право:</p>

<p>получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;</p>

<p>в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;</p>

<p>самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.</p>

<p>3.4. Оператор обязан:</p>

<p>предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;</p>

<p>организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;</p>

<p>отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;</p>

<p>сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса;</p>

<p>публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении обработки персональных данных;</p>

<p>принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;</p>

<p>прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;</p>

<p>исполнять иные обязанности, предусмотренные Законом о персональных данных.</p>

<p>4. Объем и категории обрабатываемых персональных данных,</p>

<p>категории субъектов персональных данных</p>

<p>4.1. Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки, предусмотренным в разд. 2 настоящей Политики. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.</p>

<p>4.2. Оператор может обрабатывать общие персональные данные следующих категорий субъектов персональных данных.</p>

<p>4.2.1. Лица, оставившие заявку на участие в онлайн-мероприятии Оператора:</p>

<p>· фамилия, имя, отчество;</p>

<p>· адрес электронной почты;</p>

<p>· номер телефона.</p>

<p>4.2.2. Лица, заключившие с Оператором договоры на оказание услуг:</p>

<p>· фамилия, имя, отчество;</p>

<p>· дата и место рождения;</p>

<p>· паспортные данные;</p>

<p>· адрес регистрации по месту жительства;</p>

<p>· контактные данные;</p>

<p>· ИНН;</p>

<p>· номер расчетного счета;</p>

<p>· иные персональные данные, предоставляемые клиентами и контрагентами (физическими лицами), необходимые для заключения и исполнения договоров, для предоставления услуг.</p>

<p>4.2.3. Лица, заключающие с Оператором гражданско-правовые договоры:</p>

<p>· фамилия, имя, отчество;</p>

<p>· номер телефона;</p>

<p>· адрес электронной почты;</p>

<p>· дата и место рождения;</p>

<p>· паспортные данные;</p>

<p>· адрес регистрации по месту жительства;</p>

<p>· контактные данные;</p>

<p>· номер расчетного счета;</p>

<p>· ИНН;</p>

<p>· иные персональные данные, предоставляемые физическими лицами, необходимые для заключения и исполнения договоров.</p>

<p>4.3. Оператор может обрабатывать следующую информацию: данные о технических средствах (устройствах) — IP-адрес, вид операционной системы, тип браузера, географическое положение, поставщик услуг сети Интернет; сведения об использовании Сервисов; информация, автоматически получаемая при доступе к Сервисам, в том числе с использованием cookies; информация, полученная в результате действий Субъекта персональных данных, в том числе следующие сведения: о направленных запросах, отзывах и вопросах, пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео; данные, характеризующие аудиторные сегменты; параметры сессии; данные о времени посещения.</p>

<p>На сайте Оператора используются файлы куки (Cookies) и данные о посетителях от сервисов статистики посещаемости (IP адрес; информация из cookies, информация о браузере, время доступа к сайту, адрес страницы, на которой расположен рекламный блок, реферер (адрес предыдущей страницы) и другие данные).</p>

<p>При помощи этих данных собирается информация о действиях посетителей на сайте с целью улучшения его содержания, улучшения функциональных возможностей сайта и, как следствие, создания качественного контента и сервисов для посетителей.</p>

<p>Субъект персональных данных может в любой момент изменить настройки своего браузера так, чтобы все файлы cookie блокировались или осуществлялось оповещение об их отправке. При этом субъект должен понимать, что некоторые функции и сервисы Оператора не смогут работать должным образом.</p>

<p>4.4. Оператор не осуществляет намеренно обработку персональных данных несовершеннолетних лиц. Исполнитель рекомендует пользоваться сайтом лицам, достигшим 18 лет. Ответственность за действия несовершеннолетних, включая приобретение ими услуг на Сайте, лежит на законных представителях несовершеннолетних. Все посетители, младше 18 лет, обязаны получить разрешение своих законных представителей прежде, чем предоставлять какую-либо персональную информацию о себе.</p>

<p>Если Оператору станет известно о том, что он получил персональную информацию о несовершеннолетнем лице без согласия законных представителей, то такая информация будет удалена в возможно короткие сроки.</p>

<p>4.5. Обработка Оператором биометрических персональных данных (сведений, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность) осуществляется в соответствии с законодательством РФ.</p>

<p>4.6. Оператором не осуществляется обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни, за исключением случаев, предусмотренных законодательством РФ.</p>

<p>5. Порядок и условия обработки персональных данных</p>

<p>5.1. Обработка персональных данных осуществляется Оператором в соответствии с требованиями законодательства Российской Федерации.</p>

<p>5.2. Обработка персональных данных осуществляется с согласия субъектов персональных данных на обработку их персональных данных, а также без такового в случаях, предусмотренных законодательством Российской Федерации.</p>

<p>5.3. Оператор осуществляет как автоматизированную, так и неавтоматизированную обработку персональных данных.</p>

<p>5.4. К обработке персональных данных допускаются работники Оператора, в должностные обязанности которых входит обработка персональных данных.</p>

<p>5.5. Обработка персональных данных осуществляется путем:</p>

<p>· получения персональных данных от субъектов персональных данных путем заполнения формы обратной связи с Оператором на Сайте;</p>

<p>· получения персональных данных в устной и письменной форме непосредственно от субъектов персональных данных;</p>

<p>· получение персональных данных непосредственно от субъектов персональных данных на электронную почту Оператора sitever-g@yandex.ru.</p>

<p>· внесения персональных данных в журналы, реестры и информационные системы Оператора;</p>

<p>· использования иных способов обработки персональных данных.</p>

<p>5.6. Не допускается раскрытие третьим лицам и распространение персональных данных без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом. </p>

<p>Согласие на обработку персональных данных, разрешенных субъектом персональных данных для распространения, оформляется отдельно от иных согласий субъекта персональных данных на обработку его персональных данных.</p>

<p>Согласие на обработку персональных данных, разрешенных субъектом персональных данных для распространения, предоставляется оператору непосредственно указанным лицом.</p>

<p>5.7. Персональные данные субъекта персональных данных категорий, перечисленных в пунктах 4.2.1. и 4.2.2., с целью предоставления доступа к образовательной платформе и обмена договорами и документами, передаются Оператором следующим третьим лицам:</p>

<p>- Акционерному обществу «Почта России» (ИНН 7724490000, ОГРН 1197746000000, адрес 125252, город Москва, 3-Я Песчаная ул, д. 2а) с целью отправки субъектам персональных данных гражданско-правовых договоров (в том числе договоров на оказание услуг) и иных документов. Срок обработки персональных данных равен сроку действия договоров, заключенных между Оператором и Акционерным обществом «Почта России».</p>

<p>- Обществу с ограниченной ответственностью «СДЭК-Глобал» (ОГРН 1157746448463, ИНН 7722327689, 630007, г. Новосибирск, ул. Кривощековская, д. 15, корп. 1, этаж 1,2) с целью отправки субъектам персональных данных итоговых гражданско-правовых договоров (в том числе договоров на оказание услуг) и иных документов. Срок обработки персональных данных равен сроку действия договоров, заключенных между Оператором и Обществом с ограниченной ответственностью «СДЭК-Глобал».</p>

<p>5.8. Передача персональных данных органам дознания и следствия, в Федеральную налоговую службу, Пенсионный фонд Российской Федерации, Фонд социального страхования и другие уполномоченные органы исполнительной власти и организации осуществляется в соответствии с требованиями законодательства Российской Федерации.</p>

<p>5.9. Оператор принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, распространения и других несанкционированных действий, в том числе:</p>

<p>· определяет угрозы безопасности персональных данных при их обработке;</p>

<p>· принимает локальные нормативные акты и иные документы, регулирующие отношения в сфере обработки и защиты персональных данных;</p>

<p>· назначает лиц, ответственных за обеспечение безопасности персональных данных в структурных подразделениях и информационных системах Оператора;</p>

<p>· создает необходимые условия для работы с персональными данными;</p>

<p>· организует учет документов, содержащих персональные данные;</p>

<p>· организует работу с информационными системами, в которых обрабатываются персональные данные;</p>

<p>· хранит персональные данные в условиях, при которых обеспечивается их сохранность и исключается неправомерный доступ к ним;</p>

<p>· организует обучение работников Оператора, осуществляющих обработку персональных данных.</p>

<p>5.10. Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором.</p>

<p>5.11. При сборе персональных данных, в том числе посредством информационно-телекоммуникационной сети Интернет, Оператор обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации, за исключением случаев, указанных в Законе о персональных данных.</p>

<p>6. Актуализация, исправление, удаление и уничтожение</p>

<p>персональных данных, ответы на запросы субъектов</p>

<p>на доступ к персональным данным</p>

<p>6.1. Подтверждение факта обработки персональных данных Оператором, правовые основания и цели обработки персональных данных, а также иные сведения, указанные в ч. 7 ст. 14 Закона о персональных данных, предоставляются Оператором субъекту персональных данных или его представителю при обращении либо при получении запроса субъекта персональных данных или его представителя.</p>

<p>В предоставляемые сведения не включаются персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных.</p>

<p>Запрос должен содержать:</p>

<p>· номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе;</p>

<p>· сведения, подтверждающие участие субъекта персональных данных в отношениях с Оператором (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных Оператором;</p>

<p>· подпись субъекта персональных данных или его представителя.</p>

<p>Запрос может быть направлен в форме электронного документа и подписан электронной подписью в соответствии с законодательством Российской Федерации на электронную почту Оператора: sitever-g@yandex.ru.</p>

<p>Если в обращении (запросе) субъекта персональных данных не отражены в соответствии с требованиями Закона о персональных данных все необходимые сведения или субъект не обладает правами доступа к запрашиваемой информации, то ему направляется мотивированный отказ.</p>

<p>Право субъекта персональных данных на доступ к его персональным данным может быть ограничено в соответствии с ч. 8 ст. 14 Закона о персональных данных, в том числе если доступ субъекта персональных данных к его персональным данным нарушает права и законные интересы третьих лиц.</p>

<p>6.2. В случае выявления неточных персональных данных при обращении субъекта персональных данных или его представителя либо по их запросу или по запросу Роскомнадзора Оператор осуществляет блокирование персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения указанного запроса на период проверки, если блокирование персональных данных не нарушает права и законные интересы субъекта персональных данных или третьих лиц.</p>

<p>В случае подтверждения факта неточности персональных данных Оператор на основании сведений, представленных субъектом персональных данных или его представителем либо Роскомнадзором, или иных необходимых документов уточняет персональные данные в течение семи рабочих дней со дня представления таких сведений и снимает блокирование персональных данных.</p>

<p>6.3. В случае выявления неправомерной обработки персональных данных при обращении (запросе) субъекта персональных данных или его представителя либо Роскомнадзора Оператор осуществляет блокирование неправомерно обрабатываемых персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения запроса.</p>

<p>6.4. При достижении целей обработки персональных данных, а также в случае отзыва субъектом персональных данных согласия на их обработку персональные данные подлежат уничтожению, если:</p>

<p>· иное не предусмотрено договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных;</p>

<p>· оператор не вправе осуществлять обработку без согласия субъекта персональных данных на основаниях, предусмотренных Законом о персональных данных или иными федеральными законами;</p>

<p>· иное не предусмотрено другим соглашением между Оператором и субъектом персональных данных.</p>

<p> </p>

<p>7. Реквизиты Оператора</p>

<p>Название организации: Индивидуальный предприниматель Курилко Елена Викторовна</p>

<p>Юридический адрес: г. Москва, ул. Коминтерна, д. 10, корп. 1, кв. 42</p>

<p>ИНН: 490908048703</p>

<p>ОГРНИП: 321774600419190 </p>

<p>Расчётный счёт: 40802810638000398609</p>

<p>Банк: ПАО Сбербанк</p>

<p>БИК банка: 044525974 </p>

<p>Корреспондентский счет банка: 30101810400000000225</p>

<p>Юридический адрес банка: 117312, г. Москва, ул. Вавилова, д. 19</p>

<p>E-mail: fitodeco@yandex.ru</p>

<p>Телефон: +7-929-985-63-24</p><br>
<br>

</p>
</div>


{% endblock %}